BODY{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("static/sfondo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

DIV{                                    /*supporta anche dispositivi mobile grazie al fatto che occupa il 90% dello schermo a disposizione e al tag meta*/
    background-color: #ffffff;
    width: 90%;        /*occupa quasi tutto lo schermo*/
    max-width: 450px;   /*quando occupa tutto lo schermo si ferma al massimo a 450px di larghezza*/
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 24px /* rgba(0, 0, 0, 0.08);*/
}

#titolo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#sottotitolo{
    text-align: center;
    color: #7f8c8d;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 1rem;
}

label{
    display: block;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: #34495e;
}


/*CAMPI DEL FORM*/
input[type="text"],
input[type="number"],
input[type="file"],
select{
    width: 100%;
    padding: 6px; 
    margin-bottom: 20px;
    border: 1px solid #ccd1d9;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input[type="file"]{
    background-color: #f8f9fa;
    color: #7f8c8d;
    cursor: pointer;
    padding: 6px;
}

input[type="file"]::file-selector-button{
    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 15px;
    transition: background-color 0.3s;
}

input[type="file"]::file-selector-button:hover{
    background-color: #333333;
}

input:focus, select:focus{
    border-color: #1a1a1a;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

button{
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

#invia{
    background-color: #1a1a1a;
    color: white;
    width: 60%;
    border: 1px solid #1a1a1a
}

#invia:hover{
    background-color: #333333;
}

#reset{
    background-color: transparent;
    color: #1a1a1a;
    width: 35%;
    float: right;
    border: 1px solid #1a1a1a
}

#reset:hover{
    background-color: #f2f2f2;
    color: #2c3e50
}