<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accedi al tuo account MoVA</title>
    <link rel="stylesheet" href="/static/style_form_login.css">
</head>
<body>
    <div class="login-container">
        
        <div class="FORM">          
            <h1 id="titolo-login">LOGIN</h1> 
             <div id="error-box" class="alert-error" style="display: none; color: red; margin-bottom: 10px; font-weight: bold;"></div>

            <form id="login-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button id="login-btn" type="submit">Login</button>
            </form>

            <div class="register-link"> 
                <h5 class="divider-text">Sei nuovo su MOVA?</h5>
                <a href="form_registrazione.html" class="btn-mova">Crea il tuo account MOVA</a>
            </div>
        </div>

        <footer>
            <p>&copy;2026 MoVA - Museum of Virtual Art. Created by Nicolò Carbone and Gabriele Di Martino</p>
        </footer>

    </div>

    <script src="/static/controllo_utente.js"></script>
</body>
</html>