<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>MoVA - Vetrina</TITLE>
        <META name="viewport" content="width=device-width, initial-scale=1.0">
        <LINK href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
        <LINK rel="stylesheet" href="/static/style_vetrina.css">
        <SCRIPT src="/static/scroll_vetrina.js" defer></SCRIPT>     <!--script per scroll vetrina-->
        <SCRIPT src="/static/menu_vetrina_mobile.js" defer></SCRIPT>    <!--script per menù su mobile-->
        <SCRIPT src="/static/lightbox.js" defer></SCRIPT>      <!--script per zoom immagine-->
        <SCRIPT src="/static/ricerca.js" defer></SCRIPT>     <!--script per barra ricerca-->
    </HEAD>

    <BODY>
        <NAV class="navbar">        <!--MENU'-->
            <DIV class="logo">
                MoVA - Museum of Virtual Art
            </DIV>

            <!--menù a tre linee espandibile (hamburger), visibile solo su dispositivo con width < 768px-->
            <DIV class="hamburger" id="hamburger">☰</DIV>

            <DIV class="menu" id="menu">
                <A href="form_login.html">Accedi</A>
                <A href="form_registrazione.html">Registrati</A>
                <A href="form_vendita.html">Vendi</A>
                <A href="form_assistenza.html">Assistenza</A>
            </DIV>
        </NAV>

        <DIV class="contenitore-ricerca">   <!--barra di ricerca opere-->
            <INPUT id="barra-ricerca" type="text" placeholder="Cerca...">
        </DIV>

        <MAIN class="vetrina">              <!--VETRINA-->
            {% for op in opere %}
            <ARTICLE class="riga_opera">    <!--Box contenente dati di entità "opera" e immagine-->
                <DIV class="info_opera">
                    <H2 class="nome_opera">{{op['nome']}}</H2>
                    <P class="prezzo"><b>Prezzo:</b> {{op['prezzo']}}€</P>
                    <P class="dettaglio"><b>Autore: </b>Leonardo da Vinci</P>
                    <P class="dettaglio"><b>Categoria: </b>{{op['categoria']}}</P>

                    {% if op['dimensioni'] == None or op['dimensioni'] == '' %}
                    <P class="dettaglio"><b>Dimensioni: </b>non specificate</P>
                    {% else %}
                    <P class="dettaglio"><b>Dimensioni: </b>{{op['dimensioni']}}</P>
                    {% endif %}
                    
                    {% if op['disponibilita']%}
                        <P class="flag_disponibilita disponibile">Disponibile</P>
                        <A href="form_acquisto.html"><BUTTON class="button_acquista">Acquista</BUTTON></A>
                    {% else %}
                        <P class="flag_disponibilita non_disponibile">Non disponibile</P>
                        <A href="form_acquisto.html"><BUTTON class="button_acquista" disabled>Acquista</BUTTON></A>
                    {% endif %}
                </DIV>
                <DIV class="immagine_opera">
                    <IMG src="/static/uploads/{{op['immagine']}}" alt="{{op['nome']}}">
                </DIV>
            </ARTICLE>
            {% endfor %}
        </MAIN>

        <FOOTER>        <!--Piè di pagina per copyright e firma-->
            <P>&copy;2026 MoVA - Museum of Virtual Art. Created by Nicolò Carbone and Gabriele Di Martino</P>
        </FOOTER>


        <DIV id="lightbox" class="lightbox">    <!--va in sovrimpressione, oscura tutto per focus sull'immagine-->
            <SPAN class="chiudi-lightbox">&times;</SPAN>
            <IMG id="lightbox-img" class="lightbox-img" src="">
        </DIV>
    </BODY>
</HTML>